.channelSection {
  width: 100%;
  background-color: #fff;
  .vertical-center-row {
    margin-left: 0px;
  }
  img {
    margin: 10px;
    float: left;
    border-radius: 50%;
    width: 30px;
  }
  h3 {
    margin-top: 12px;
    font-size: 16px;
    margin-left: 60px;
  }
  .description {
    margin: 5px 0 10px 60px;
    font-size: 14px;
  }
  .datetime {
    margin-top: 10px;
  }
  hr {
    width: 100%;
    margin-right: 0px;
  }
}

.separator {
  margin-bottom: 20px;
  .channelSection {
    padding-bottom: 25px;
  }
}

.dateHeader {
  margin: 10px 0px 10px -13px;
  font-weight: bold;
  font-size: 13px;
}
